/.project
/.buildpath
/.settings
/vendor/
/composer.phar
/composer.lock
/bin/
/.env
/config_local.yaml
/config_dev.yaml
/src/ElasticSearch/
/.idea/
/.htaccess
/var/
/.pydevproject
/node_modules
/package-lock.json
/config_prod.yaml
/config.yaml
/.htaccess
